@using WEB.Models.Post

@model PostViewModel
@{
}

@using (Html.BeginForm("Create", "Post", FormMethod.Post))
{

	@Html.HiddenFor(t => t.Id)


	<div class="form-control">
		<div asp-validation-summary="ModelOnly"></div>
		
		<div>
			@Html.LabelFor(t => t.Title, new { @class = "form-check-label" })
			@Html.TextBoxFor(t => t.Title, new { @class = "form-control" })
			@Html.ValidationMessageFor(t => t.Title)
		</div>
		<br />
		<div>
			@Html.LabelFor(t => t.Text, new { @class = "form-check-label" })
			@Html.TextAreaFor(t => t.Text, new { @style = "height:400", @class = "form-control" })
			@Html.ValidationMessageFor(t => t.Text)
		</div>
		<br />
		
		<div style="display:flex">
			@Html.Label("Тэги:")
			
			@for (int i = 0; i < Model.AvailableTags.Count(); i++)
			{
				<div style="margin-left:10px">
					@Html.HiddenFor(t => t.AvailableTags[i].Id)
					@Html.HiddenFor(t => t.AvailableTags[i].Name)

					@Html.CheckBoxFor(t => t.AvailableTags[i].IsChecked)
					@Html.DisplayFor(t => t.AvailableTags[i].Name)
				</div>
			}
			
		</div>
		<button type="submit" class="btn btn-primary">Опубликовать</button>
	</div>
}