@using DAL
@using WEB.Models.Comement
@using WEB.Models.Post
@using WEB.Models.Tag
@model PostViewModel

@{
}

<div>
	<div style="border:1px solid gray; margin-bottom:5px; padding:5px;">
		<!--Title-->
		<div style="border-bottom:1px dashed gray">
			@Model.Title
			<span class="float-end me-1"> Дата </span>
		</div>
			
		<!--Text-->
		<div>@Model.Text</div>
	</div>

	<!-- Вывести список всех комментариев -->
	@Html.Partial("~/Views/Comment/_Add.cshtml", new CommentViewModel() { PostId = Model.Id })

	<br />
	<div>
		@if (Model.AllComments is not null)
		{
			foreach (var comment in Model.AllComments)
			{
				<div class="all_comments_extdata">
					<span>
						Дата создания: @comment.CreateDate
					</span>
						
					<span>
						пользователь: <a asp-route-id="@comment.UserId" asp-action="View" asp-controller="User">@comment.UserName</a>
					</span>

					<span>
						<a asp-route-id="@comment.Id" asp-action="Remove" asp-controller="Comment">Удалить</a>
					</span>
				</div>

				<div class="all_comments">
					@comment.Text
				</div>
				<br />
			}
		}
	</div>

	@* <!--
	@Html.Partial("~/Views/Comment/_All.cshtml")
	--> *@
</div>